/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 19, 2020, 11:32:39 AM
    Author     : hossain
*/


.accordion>.card>.card-header{
  padding: 0;

}
.accordion>.card{ 
     margin-bottom: 5px!important;
}
.datetimepicker td, .datetimepicker th {
  width: 35px;
  height: 30px;
  border: 1px solid #dddddd69;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #0c776d;
  color: #eaeaea;
}
.left-side-menu{
  background: #050e3b;
}
#sidebar-menu>ul>li>a.active{
  background: #b6a617;
}
#sidebar-menu>ul>li>a#sidebar-menu>ul>li>a{
  color: #fff;
}
#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover {
  background: #ff5722;
}
.table,.btn{
  color: #111;
}
.table-hover tbody tr:hover {
  color: #005a14;
  background-color: #f9f9f9;
}
.left-side-menu{
padding: 40px 0;
}

::-moz-selection { background: yellow; }
::selection { background: yellow; }

.hand{
  cursor: pointer;
}
.claim_notification_badge{

  position: absolute;
  top: 3px;
  right: 10px;
}

.logo-box{
  background-color: #070e3b;
}
#sidebar-menu .menu-title{

  color: #fff;
  background: #d93400;
}

.logo .logo-lg-text-light{
  text-transform: none;
  font-size: 20px;
}

.select2-container {
  width: 100%!important;
}

.space100{
  height: 100px;
}
.space200{
  height: 200px;
}
.space300{
  height: 300px;
}
.space400{
  height: 400px;
}
.space500{
  height: 500px;
}
.space600{
  height: 600px;
}
.space700{
  height: 700px;
}
.space800{
  height: 800px;
}
.select2-container {
  width: 100%!important;
}
.toast{
  color: #000!important;
  font-size: 15px!important;

}
.clear-left{
  clear: left;
}
.clear-right{
  clear: right;
}
.hidden{
  display: none;
}
.no_padding{
  padding: 0!important;
}
.no_margin{
  margin: 0!important;
}
.disabled.btn-default,.disabled.btn-default i{
  color: #dbdbdb!important;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.company_adds,.gift_adds {
  height: 150px;
  background: #ddd;
  margin-bottom: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;

}

.company_adds .bg,.gift_adds .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .4;
  width: 100%;
  height: 100%;
}

.company_content,.gift_content {
  color: #111;
  padding: 5px;
  text-align: justify;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.company_content b,.gift_content b{
  font-size: 1.3em;
  color: #06176f;
}

.sponsored_label {
  text-align: right;
  width: 100%;
  padding-right: 10px;
  color: #655c5c;
}


.faq_item:first-child {
  border-top: 1px solid #ddd;
}
.faq_item {
  border: 1px solid #ddd;
  border-bottom: 1px dashed #ddd;
  border-top: 0;
}
.faq_description_div {
  margin-top: -30px;
}
.faq_remove_row {
  position: relative;
  cursor: pointer;
  float: right;
  right: -20px;
  z-index: 1;
}
.addFaq {
  position: absolute;
  cursor: pointer;
  bottom: 0px;
  right: 0;
}

.thumbnail_search {
  height: 280px;
}
.lib_image_list .thumbnail img {
  height: 210px;
  border: 1px solid rgba(73, 80, 87, 0.1);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.width-100 {
  width: 100%;
}
.text-white {
  color: white;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}

.m-1 {
  margin: 10px;
}
.m-2 {
  margin: 20px;
}
.m-3 {
  margin: 30px;
}
.m-4 {
  margin: 40px;
}
.m-5 {
  margin: 50px;
}
.m-6 {
  margin: 60px;
}
.m-7 {
  margin: 70px;
}
.m-8 {
  margin: 80px;
}

.m-b-_5 {
  margin-bottom: 5px;
}
.m-b-1 {
  margin-bottom: 10px;
}
.m-b-2 {
  margin-bottom: 20px;
}
.m-b-3 {
  margin-bottom: 30px;
}
.m-b-4 {
  margin-bottom: 40px;
}
.m-b-5 {
  margin-bottom: 50px;
}
.m-b-6 {
  margin-bottom: 60px;
}
.m-b-7 {
  margin-bottom: 70px;
}
.m-b-8 {
  margin-bottom: 80px;
}

.m-t-_5 {
  margin-top: 5px;
}
.m-t-1 {
  margin-top: 10px;
}
.m-t-2 {
  margin-top: 20px;
}
.m-t-3 {
  margin-top: 30px;
}
.m-t-4 {
  margin-top: 40px;
}
.m-t-5 {
  margin-top: 50px;
}
.m-t-6 {
  margin-top: 60px;
}
.m-t-7 {
  margin-top: 70px;
}
.m-t-8 {
  margin-top: 80px;
}

.m-r-_5 {
  margin-right: 5px;
}
.m-r-1 {
  margin-right: 10px;
}
.m-r-2 {
  margin-right: 20px;
}
.m-r-3 {
  margin-right: 30px;
}
.m-r-4 {
  margin-right: 40px;
}
.m-r-5 {
  margin-right: 50px;
}
.m-r-6 {
  margin-right: 60px;
}
.m-r-7 {
  margin-right: 70px;
}
.m-r-8 {
  margin-right: 80px;
}

.m-l-_5 {
  margin-left: 5px;
}
.m-l-1 {
  margin-left: 10px;
}
.m-l-2 {
  margin-left: 20px;
}
.m-l-3 {
  margin-left: 30px;
}
.m-l-4 {
  margin-left: 40px;
}
.m-l-5 {
  margin-left: 50px;
}
.m-l-6 {
  margin-left: 60px;
}
.m-l-7 {
  margin-left: 70px;
}
.m-l-8 {
  margin-left: 80px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.dropdown-menu.show {
  width: 300px;
}

.progress {
  height: 25px;
}
.progress-bar {
  font-size: 14px;
  padding-top: 4px;
}
.progress-bar-striped,
.progress-striped .progress-bar {
  background-size: 10px 10px;
}
/* Mimic table appearance */
div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
div.table .file-row:nth-child(odd) {
  background: #f9f9f9;
}

/* The total progress gets shown by event listeners */
#total-progress {
  opacity: 0;
  margin-top: 10px;
  transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}

.img_item {
  margin-top: 20px;
}

.remove_img_lo {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 3px;
}

.header-title {
  font-size: 1.1rem;
  margin: 0 0 7px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.select2-results {
  background: #efefef;
}

.ln_solid {
  clear: both;
  border: 1px solid rgba(73, 80, 87, 0.1);
  margin: 20px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  float: left;
}
